@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --bg-main: #fff;
  --red: #ff0000;
  --gray: #606060;
  --gray-1: #e7e7e7;
  --gray-2: #f4f4f4;
  --main-text-color: #030303;
  --border: #cccccc;
  --line: #e5e5e5;
  --height-header: 5.6rem;
  --width-sidebar: 24rem;
  --width-sidebar-hidden: 7.2rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  box-sizing: border-box; }

video,
img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none; }

ul,
ol {
  list-style: none; }

span {
  display: block; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 1rem; }

.container-content {
  max-width: 126.4rem; }

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }

.header {
  height: var(--height-header); }

.main {
  flex-grow: 1;
  display: flex;
  padding-top: var(--height-header); }

.sidebar {
  width: 100%;
  max-width: var(--width-sidebar);
  overflow-y: auto; }

.content {
  flex-grow: 1;
  background-color: brown; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  background-color: var(--bg-main);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid var(--line); }
  .header__col,
  .header .search-area, .header__nav {
    display: flex;
    align-items: center; }
  .header__col:nth-child(2) {
    flex: 1;
    width: 100%;
    max-width: 63.5rem; }
  .header-col:last-child {
    flex-shrink: 0; }
  .header__toggle {
    margin-right: 2.4rem;
    cursor: pointer; }
  .header .search-area {
    width: 100%;
    height: 2.9rem;
    margin: 2.4rem; }
    .header .search-area .icon {
      cursor: pointer;
      width: 6.5rem;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--gray-2);
      border: 1px solid var(--border);
      border-radius: 0 2px 2px 0; }
  .header__search {
    width: 100%;
    padding: 0.5rem 1.2rem;
    align-self: stretch;
    border: 1px solid var(--border);
    outline: none;
    border-radius: 2px 0 0 2px;
    font-family: inherit;
    color: var(--gray);
    font-size: 1.6rem;
    line-height: 150%;
    outline: none; }
  .header__profile {
    flex-shrink: 0;
    display: flex;
    cursor: pointer; }
    .header__profile-img {
      flex-shrink: 0;
      width: 3.2rem;
      height: 3.2rem;
      object-fit: cover;
      border-radius: 50%; }
  .header__nav {
    margin-right: 2.4rem; }
  .header__link {
    position: relative; }
    .header__link:not(:last-child) {
      margin-right: 2.4rem; }
    .header__link-tooltip {
      position: absolute;
      left: 50%;
      top: calc(100% + 1.2rem);
      transform: translateX(-50%);
      white-space: nowrap;
      padding: 0.8rem;
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      border-radius: 0.2rem;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in; }
    .header__link:hover .header__link-tooltip {
      opacity: 1;
      visibility: visible; }

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-main); }
  .sidebar__menu {
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--line); }
  .sidebar__link {
    display: flex;
    align-items: center;
    padding: 0.8rem 2.4rem;
    transition: 0.2s; }
    .sidebar__link span {
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      margin-left: 2.4rem;
      color: var(--main-text-color);
      transition: 0.2s; }
    .sidebar__link svg {
      flex-shrink: 0; }
    .sidebar__link svg path {
      transition: 0.2s; }
    .sidebar__link:hover {
      background-color: var(--gray-2); }
    .sidebar__link:hover svg path {
      fill: var(--red); }
    .sidebar__link img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: cover;
      border-radius: 50%;
      flex-shrink: 0; }
    .sidebar__link.active span {
      font-weight: 500; }
    .sidebar__link.active svg path {
      fill: var(--red); }
  .sidebar__heading {
    padding: 0 2.4rem;
    margin-bottom: 1rem; }
  .sidebar__copyright {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #909090;
    padding: 2.4rem; }
  .sidebar.hidden {
    width: var(--width-sidebar-hidden);
    position: fixed; }
    .sidebar.hidden .sidebar__heading,
    .sidebar.hidden .sidebar__copyright,
    .sidebar.hidden .sidebar__menu:not(:first-child) {
      display: none; }
    .sidebar.hidden .sidebar__menu {
      border: 0; }
    .sidebar.hidden .sidebar__link {
      flex-direction: column;
      align-items: center; }
    .sidebar.hidden .sidebar__link span {
      margin: 0;
      margin-top: 1rem;
      font-size: 1rem; }
