.container-content {
   max-width: 126.4rem;
}

.page {
   display: flex;
   flex-direction: column;
   height: 100vh;
   overflow: hidden;
}

.header {
   height: var(--height-header);
}

.main {
   flex-grow: 1;
   display: flex;
   padding-top: var(--height-header);
}

.sidebar {
   width: 100%;
   max-width: var(--width-sidebar);
   overflow-y: auto;
}

.content {
   flex-grow: 1;
   background-color: brown;
}
