.container-content {
   max-width: 126.4rem;
}

.page {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
}

.header {
   height: var(--height-header);
}

.main {
   flex-grow: 1;
   display: flex;
   padding-top: var(--height-header);
   overflow-x: hidden;
   overflow-y: auto;
}

.sidebar {
   width: 100%;
   max-width: var(--width-sidebar);
}

.content {
   flex: 1;
   background-color: var(--bg-main);
   max-width: 225.6rem;
   width: 100%;
   margin: 0 auto;
   position: relative;
}
